<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>

    <link rel="stylesheet" href="./public/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="./public/css/form.css">
    <style>
      .container {
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="container mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <% if(typeof(errorMessage) !== 'undefined') {%>
        <span><%= errorMessage %></span>
      <% } %>

      <form action="/signUp" method="post">
        <h3>Sign Up</h3>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="fullname" id="fullname" required="true" />
          <label class="mdl-textfield__label" for="fullname">Full name</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="username" id="username" required="true" />
          <label class="mdl-textfield__label" for="username">username</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" name="password" id="password"  required="true" />
          <label class="mdl-textfield__label" for="password">password</label>
        </div>

        <div>
          <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" name="signUp" value="sign up"/>
          <a class="mdl-button mdl-js-button" href="/signIn" title="signIn">Sign In</a>
        </div>

      </form>
    </div>

    <script src="./public/bower_components/material-design-lite/material.min.js"></script>
    <script src="./public/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="./public/js/lodash.min.js" charset="utf-8"></script>
  </body>
</html>
