.title-container {
  position: relative;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  min-height: 200px;
  padding: 10px;
  background: yellow;

  background-size: cover;
  
}

.title-container > .post-title {
  margin: 0;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;
  -o-flex: 1 0 0;
  flex: 1 0 0;
}

#coverImageBtnFile {
  position: absolute;
  top: -99999px;
}
